body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    background: transparent;
    border-radius: 11px;
    height: 40px;
    width: 101px;
}

.btn:hover{
    background-color: black;
    color: azure;
}

